HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
echo "gradle-cache/" >> .gitignore
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# .env 파일 무시
.env

# Docker Compose 파일 무시
docker-compose.yml
gradle-cache/
.gradle/
gradle/wrapper/
/Users/jongilyun/Desktop/Spring/my_project/creww/mysql-data
/Users/jongilyun/Desktop/Spring/my_project/creww/backup.sql
.gradle/6.8.3/
.gradle/buildOutputCleanup/
.gradle/checksums/
.gradle/configuration-cache/
.gradle/vcs-1/
/Users/jongilyun/Desktop/Spring/my_project/creww/gradle
gradle-cache/wrapper/dists/gradle-7.4-bin/c0gwcg53nkjbqw7r0h0umtfvt/gradle-7.4-bin.zip
gradle-cache/
*.zip
*.jar
